<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>main</title>
    <link rel="stylesheet" href="../../public/css/style.css">
  </head>
  <body>
    <header role="banner">
      <ul class="header">
        <li class="header">Hi! <%= username %></li>
        <li class="header"><a href='/logout'>Logout</a></li>
      </ul>
    </header>
    <h1><%= name %>`s page</h1>
    <a href="/">User List</a>
  </body>
</html>
